<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Allotted Colleges</title>
  <link rel="stylesheet" href="/css/success.css"> <!-- Use success.css for similar layout -->
</head>
<body>
  <h1>Allotted Colleges for Students</h1>
  {{#if allocatedColleges}}
    <ul>
      {{#each allocatedColleges}}
        <li>
          <strong>{{this.studentName}}</strong> is allocated to the following colleges:
          <ul>
            {{#each this.allocatedColleges}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No students allocated yet.</p>
  {{/if}}
</body>
</html>
