<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/alloted.css">
  <title>Allotted Colleges</title>
</head>
<body>
  <h1>Allotted Colleges</h1>
  <ul>
    {{#each allotedColleges}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
</body>
</html>
